#departament-page {
  .header {
    min-height: 230px;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: hard-light;
    .nickname {
      font-style: italic;
    }
  }
  .activity-card {
    img {
      max-height: 200px;
    }
    p {
      margin-bottom: 0;
    }
    span.title {
      font-weight: bold;
    }
  }
  .toolbar {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.28) 0%,
      rgba(0, 0, 0, 0.15) 42%,
      transparent 100%
    );
    min-height: 50px;
    display: flex;
    button {
      color: white;
    }
  }
  .info {
    position: relative;
    bottom: 0;
    color: white;
    padding: 6px;
    background: rgba(0, 0, 0, 0);
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgba(0, 0, 0, 0.7) 61%,
      rgba(0, 0, 0, 0.7) 100%
    );
    h1 {
      margin-bottom: 0px;
    }
    span {
      font-weight: 600;
    }
  }
}
