.yellow {
  background-color: rgba(239, 202, 80, 0.3);  
}

.green {
  background-color: rgba(80, 239, 141, 0.3);
}

.red {
  background-color: rgba(239, 104, 80, 0.3);
}

.blue {
  background-color: rgba(80, 109, 239, 0.3);
}