#session-page {
  height: 100vh;
  background-image: url('../assets/img/sanjuansur.jpg');
  background-size: cover;
  background-position: left;
  color: white;
  text-align: center;
  h1 {
    font-size: 32pt;
  }
  p {
    font-size: 16pt;
  }
  .message {
    padding: 10% 5px 5px
  }
  
  .loggin-buttons {
    padding: 15%;
    display: inline;
    .el-col {
      margin-bottom: 10px
    }
  }
  
  .screen-overlay {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: rgba(255, 255, 255, 0.8);
    background: -moz-linear-gradient(
      -45deg,
      rgba(255, 255, 255, 0.8) 0%,
      rgba(227, 59, 227, 0.81) 100%
    );
    background: -webkit-gradient(
      left top,
      right bottom,
      color-stop(0%, rgba(255, 255, 255, 0.8)),
      color-stop(100%, rgba(227, 59, 227, 0.81))
    );
    background: -webkit-linear-gradient(
      -45deg,
      rgba(255, 255, 255, 0.8) 0%,
      rgba(227, 59, 227, 0.81) 100%
    );
    background: -o-linear-gradient(
      -45deg,
      rgba(255, 255, 255, 0.8) 0%,
      rgba(227, 59, 227, 0.81) 100%
    );
    background: -ms-linear-gradient(
      -45deg,
      rgba(255, 255, 255, 0.8) 0%,
      rgba(227, 59, 227, 0.81) 100%
    );
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.8) 0%,
      rgba(227, 59, 227, 0.81) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e33be3', GradientType=1 );
  }
  .el-button.block {
    width: 90%;
    span {
      display: flex;
      line-height: 2;
    }
  }
  .el-button.large {
    min-height: 54px;
  }
}